html, body, #root, .App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  /* https://www.w3schools.com/css/tryit.asp?filename=trycss3_align_flex */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 322px;
}

.Counter {
  border: 1px solid #207720;
  text-align: center;
  width: 100%;
}

.Counter .description {
  margin: 0.5em;
}

.Counter .num {
  margin: 0.5em;
  font-weight: bold;
  font-size: 1.5em;
}
