html, body, #root, .App {
  height: 100%;
}

.App {
  /* https://www.w3schools.com/css/tryit.asp?filename=trycss3_align_flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Counter {
  border: 1px solid #207720;
}
