.App-wrapper {
  font-weight: bold;
  text-align: center; 
}


.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

/* body {
  padding: 2em; 
} */
